<?= $this->doctype(); ?>
<html>
    <head>
        <meta charset="UTF-8"/>
        <base href="<?= $this->basePath() ?>" />
    </head>
    <body>

        <p><?= $this->translate('Olá') ?>, <strong><?= $this->escapeHtml($this->name) ?></strong>,</p>
        <p><?= sprintf($this->translate('conforme solicitado estamos enviando o link para que você possa redefinir sua senha de acesso no sistema <strong>%s</strong>'), APPLICATION_NAME) ?>.</p>

        <br/>

        <p>
            <?= $this->translate('Link de acesso') ?>: 
            <strong>
                <a href="<?= $this->basePath($this->url('app/user/reset-password', array('token' => $this->token))) ?>">
                    <?= $this->basePath($this->url('app/user/reset-password', array('token' => $this->token))) ?>
                </a>
            </strong>
        </p>

        <?php if ($this->validity && $this->validity instanceof \DateTime) { ?>
            <br/>
            <p>* <?= $this->translate('Validade deste e-mail') ?>: <strong><?= $this->dateFormat($this->validity, \IntlDateFormatter::SHORT, \IntlDateFormatter::NONE) ?></strong></p>
        <?php } ?>

    </body>
</html>