<?= $this->doctype(); ?>
<html>
    <head>
        <meta charset="UTF-8"/>
        <base href="<?= $this->basePath() ?>" />
    </head>
    <body>

        <p><?= $this->translate('Olá') ?>, <strong><?= $this->escapeHtml($this->name) ?></strong>,</p>
        <p><?= sprintf($this->translate('bem-vindo ao sistema <strong>%s</strong>'), APPLICATION_NAME) ?>.</p>

        <br/>

        <p><?= $this->translate('Clique no link abaixo para definir sua senha de acesso') ?>:</p>
        <p>
            <strong>
                <a href="<?= $this->basePath($this->url('app/user/create-password', array('token' => $this->token))) ?>">
                    <?= $this->basePath($this->url('app/user/create-password', array('token' => $this->token))) ?>
                </a>
            </strong>
        </p>

        <?php if ($this->validity && $this->validity instanceof \DateTime) { ?>
            <br/>
            <p>* <?= $this->translate('Validade deste e-mail') ?>: <strong><?= $this->dateFormat($this->validity, \IntlDateFormatter::SHORT, \IntlDateFormatter::NONE) ?></strong></p>
        <?php } ?>

    </body>
</html>