<?php
$this->HeadTitle()->append('Cadastro de Usuário');
?>

<?= $this->pageTitle($this->translate('Cadastro de Usuário'), $this->translate('// Aqui você pode alterar as informações do usuário.')) ?>
<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <h5 class="with-border m-t-0"><?= $this->translate('Informações Usuário') ?></h5>
                    <form id="frmUserRegister" method="post"
                          action="<?= $this->url($this->usuario->getId() ? 'app/manage/users/edit' : 'app/manage/users/register', array('idUsuario' => $this->usuario->getId())) ?>"
                          enctype="multipart/form-data" class="form-horizontal">
                        <input type="hidden" name="id" value="<?= $this->usuario->getId() ?>"/>

                        <fieldset class="form-group">
                            <label class="form-label"> <?= $this->translate('Perfil') ?></label>
                            <select name="id_perfil"
                                    class="select2"
                                    data-validation="[NOTEMPTY]"
                                    data-validation-label="O campo <strong>Perfil</strong>">
                                <?php foreach ($this->perfilList as $perfilEntity) { ?>
                                    <option value="<?= $perfilEntity->getId() ?>"
                                            <?php if ($perfilEntity->getId() == $this->usuario->getIdPerfil()) { ?>selected<?php } ?>>
                                        <?= $this->escapeHtml($perfilEntity->getNome()) ?>
                                    </option>
                                <?php } ?>
                            </select>
                        </fieldset>

                        <fieldset class="form-group">
                            <label class="form-label"><?= $this->translate('E-mail') ?></label>
                            <input name="email"
                                   value="<?= $this->usuario->getEmail() ?>"
                                   <?php if ($this->usuario->getId()) { ?>disabled<?php } ?>
                                   type="email"
                                   class="form-control"
                                   data-validation="[NOTEMPTY, EMAIL]"
                                   data-validation-label="O campo <strong>E-mail</strong>">
                        </fieldset>
                        <div class="form-inline-col clearfix">
                            <div class="col-md-6 col-fieldset">
                                <fieldset class="form-group">
                                    <label class="form-label"><?= $this->translate('Nome') ?></label>
                                    <input name="nome"
                                           value="<?= $this->usuario->getNome() ?>"
                                           type="text"
                                           class="form-control"
                                           data-validation="[NOTEMPTY, NAME]"
                                           data-validation-label="O campo <strong>Nome</strong>">
                                </fieldset>
                            </div>
                            <div class="col-md-6 col-fieldset">
                                <fieldset class="form-group">
                                    <label class="form-label"><?= $this->translate('Sobrenome') ?></label>
                                    <input name="sobrenome"
                                           value="<?= $this->usuario->getSobrenome() ?>"
                                           type="text"
                                           class="form-control"
                                           data-validation="[NOTEMPTY, NAME]"
                                           data-validation-label="O campo <strong>Sobrenome</strong>">
                                </fieldset>
                            </div>
                        </div>

                        <fieldset class="form-group">
                            <label class="form-label"><?= $this->translate('Apelido') ?></label>
                            <input name="apelido"
                                   placeholder="<?= $this->translate('Como você gostaria de ser chamado') ?>"
                                   value="<?= $this->usuario->getApelido() ?>"
                                   type="text"
                                   class="form-control"
                                   data-validation="[NOTEMPTY, NAME]"
                                   data-validation-label="O campo <strong>Apelido</strong>">
                        </fieldset>
                        <button type="submit" class="btn btn-primary">
                            <?= $this->translate($this->usuario->getId() ? 'Salvar' : 'Cadastrar') ?>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
