<?php
$this->layout('layout/clean');
$this->HeadTitle()->append('404');

$this->headLink()
    ->appendStylesheet($this->basePath('/css/error/bootstrap.min.css'))
    ->appendStylesheet($this->basePath('/css/error/bootstrap-reset.css'))
    ->appendStylesheet($this->basePath('/css/error/style.css'))
    ->appendStylesheet($this->basePath('/css/error/style-responsive.css'));
?>

<?php if (isset($this->display_exceptions) && $this->display_exceptions) { ?>
    <h1><?php echo 'A 404 error occurred' ?></h1>
    <h2><?php echo $this->message ?></h2>

    <?php if (isset($this->reason) && $this->reason) { ?>
        <?php
        $reasonMessage = '';
        switch ($this->reason) {
            case 'error-controller-cannot-dispatch':
                $reasonMessage = 'The requested controller was unable to dispatch the request.';
                break;
            case 'error-controller-not-found':
                $reasonMessage = 'The requested controller could not be mapped to an existing controller class.';
                break;
            case 'error-controller-invalid':
                $reasonMessage = 'The requested controller was not dispatchable.';
                break;
            case 'error-router-no-match':
                $reasonMessage = 'The requested URL could not be matched by routing.';
                break;
            default:
                $reasonMessage = 'We cannot determine at this time why a 404 was generated.';
                break;
        }
        ?>
        <p><?php echo $reasonMessage ?></p>
    <?php } ?>

    <?php if (isset($this->controller) && $this->controller) { ?>
        <dl>
            <dt><?php echo 'Controller' ?>:</dt>
            <dd><?php echo $this->escapeHtml($this->controller) ?>
                <?php
                if (isset($this->controller_class) && $this->controller_class && $this->controller_class != $this->controller
                ) {
                    echo '(' . sprintf('resolves to %s', $this->escapeHtml($this->controller_class)) . ')';
                }
                ?>
            </dd>
        </dl>
    <?php } ?>

    <?php if (isset($this->exception) && $this->exception) { ?>
        <h2><?php echo 'Exception' ?>:</h2>
        <p><b><?php echo $this->escapeHtml($this->exception->getMessage()) ?></b></p>
        <h3><?php echo 'Stack trace' ?>:</h3>
        <pre><?php echo $this->exception->getTraceAsString() ?></pre>
    <?php } ?>

<?php } else { ?>
    <div class="body-404">
        <div class="container">
            <section class="error-wrapper">
                <i class="icon-404"></i>
                <h1>404</h1>
                <h2>Ops!</h2>
                <p class="page-404">
                    A página que você esta tentando procurar não existe :(<br/>
                    <a href="<?= $this->basePath() ?>">Retornar</a>
                </p>
            </section>
        </div>
    </div>
<?php } ?>
