.user-info-navbar .user-info-menu > li > a {
  border: none !important;
}
.dashPanel .panel {
  padding: 0px !important;
}
.dashPanel .panel .panel-heading {
  padding: 15px !important;
}
.filter {
  padding-top: 9px;
}
.alert p {
  color: white;
}
.v-align {
  vertical-align: middle !important;
}
#obs .main-content {
  position: fixed !important;
}
.table {
  border-collapse: separate !important;
}
.dt-buttons {
  position: relative !important;
  float: left !important;
}
.btn.btn-default.allow.active {
  background-color: #72a230 !important;
  border-color: #5f8628 !important;
  color: white !important;
  text-shadow: 0 0px !important;
}
.btn.btn-default.deny.active {
  background-color: #ab2d32 !important;
  border-color: #8e262a !important;
  color: white !important;
  text-shadow: 0 0px !important;
}
.login-page {
  background-image: url(../../images/login.jpg);
  background-position: center bottom;
  background-repeat: no-repeat;
}
.margin-20px-top {
  margin-top: 20px;
}
.ui-autocomplete {
  position: absolute;
  top: 0;
  left: 0;
  cursor: default;
  max-height: 145px;
  overflow-y: auto;
  overflow-x: hidden;
}
#slider {
  margin-top: 3px;
}
.tooltip-progress-bar {
  margin-top: 0px !important;
  top: 6px !important;
  width: 52px !important;
}
.tooltip-inner {
  padding: 6px 10px !important;
}
.label-progress-bar-percentage {
  padding: 8px;
  font-size: 12px;
  font-weight: normal;
}
.img-favorite {
  width: 40px;
  padding-left: 10px;
  padding-bottom: 8px;
}
.spinner-in-panel {
  font-size: 50px;
  margin-bottom: 45px;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  /* display: none; <- Crashes Chrome on hover */
  -webkit-appearance: none;
  margin: 0;
  /* <-- Apparently some margin are still there even though it's hidden */
}
.total-cell {
  border-bottom-width: 0 !important;
}
#radioBtn .notActive {
  color: white;
  background-color: #444;
}
.dropdown-menu-open-left {
  left: auto !important;
  right: 0px !important;
}
.no-dataTable {
  border-collapse: inherit !important;
}
.footer-totals {
  margin-top: 10px !important;
}
.footer-totals .footer-totals-label {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  vertical-align: middle;
}
.footer-totals .footer-totals-value {
  vertical-align: middle;
  margin-left: 10px;
  width: calc(90%);
}
.flip-container {
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 100%;
  height: 200px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
.fa-background {
  margin-left: 80px;
}
.xe-widget-title {
  margin-top: 0px !important;
}
.progress-in-panel {
  margin-top: 10px;
  margin-bottom: 0px;
}
.panel-title a:link {
  text-decoration: none !important;
}
#obs {
  display: table-cell;
  position: relative;
  z-index: 100;
  width: 280px;
  background: #fff;
  vertical-align: top;
  border-left: 1px solid #ededed;
}
.table-dynamic tbody > tr > td {
  padding-left: 0 !important;
}
.c3-grid {
  opacity: 0.4;
}
.c3-axis-x {
  opacity: 0.5 !important;
}
.c3-axis-y {
  opacity: 0.5 !important;
}
.c3-area {
  opacity: 0.3 !important;
}
