body {
  background-color: transparent !important;
}
.user-info-navbar .user-info-menu > li > a {
  border: none !important;
}
.dashPanel .panel {
  padding: 0px !important;
}
.dashPanel .panel .panel-heading {
  padding: 15px!important;
}
.filter {
  padding-top: 9px;
}
.badge-floating-top-right {
  position: absolute;
  top: -5px;
  right: -5px;
}
.badge-floating-top-left {
  position: absolute;
  top: -5px;
  left: -5px;
}
.badge-floating-head-left {
  position: absolute;
  top: 20px;
  left: -9px;
}
.flip-container {
  perspective: 1000;
}
.flip-container:hover .flipper,
.flip-container.hover .flipper {
  transform: rotateY(180deg);
}
.flip-container,
.front,
.back {
  width: 100%;
  height: 200px;
}
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;
  position: relative;
}
.front,
.back {
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}
.back {
  transform: rotateY(180deg);
}
/*# sourceMappingURL=customClean.css.map */