<?php
$this->headTitle()->append('Permissões do Perfil');

$this->headLink()
    ->appendStylesheet($this->basePath('/components/jquery-treegrid/css/jquery.treegrid.css'));

$this->headScript()
    ->appendFile($this->basePath('/components/jquery-treegrid/js/jquery.treegrid.js'))
    ->appendFile($this->basePath('/js/profiles/permission.js'));
?>

<?= $this->pageTitle($this->translate('Permissões do Perfil'), $this->translate('// Aqui você pode dizer quais recursos o perfil terá acesso.')) ?>
<div class="container-fluid">
    <form method="post"
          action="<?= $this->url('app/manage/profiles/permissions', array('idPerfil' => $this->idPerfil)) ?>">
        <section class="box-typical">
            <header class="box-typical-header">
                <div class="tbl-row">
                    <div class="tbl-cell tbl-cell-title">
                        <h3>Lista de Recursos</h3>
                    </div>
                </div>
            </header>
            <div class="box-typical-body">
                <div class="table-responsive">
                    <table id="treePermissions" class="table table-hover">
                        <thead>
                        <tr>
                            <th>Recurso</th>
                            <th width="250" class="text-center">Ação</th>
                        </tr>
                        </thead>
                        <tbody>
                        <?php foreach ($this->resourceList as $item) { ?>
                            <tr class="<?= $item['nodeId'] ?> <?= $item['nodeParent'] ?>">
                                <td><?= $item['resourceLabel'] ?></td>
                                <td class="text-center">
                                    <div class="btn-group btn-group-xs" data-toggle="buttons">
                                        <label class="btn btn-default allow <?php if ($item['permission'] == true) { ?>active<?php } ?>">
                                            <input type="radio"
                                                   name="resource[<?= $item['resource'] ?>]"
                                                   value="1"
                                                   <?php if ($item['permission'] == true) { ?>checked<?php } ?>/>
                                            <span class="fa fa-thumbs-o-up"></span>
                                            <?= $this->translate('Permitir') ?>
                                        </label>
                                        <label class="btn btn-default deny <?php if ($item['permission'] == false) { ?>active<?php } ?>">
                                            <input type="radio"
                                                   name="resource[<?= $item['resource'] ?>]"
                                                   value="0"
                                                   <?php if ($item['permission'] == false) { ?>checked<?php } ?>/>
                                            <span class="fa fa-thumbs-o-down"></span>
                                            <?= $this->translate('Negar') ?>
                                        </label>
                                    </div>
                                </td>
                            </tr>
                        <?php } ?>
                        </tbody>
                    </table>
                </div>
            </div>
            <footer class="box-typical-footer">
                <button type="submit" class="btn btn-primary">
                    <?= $this->translate('Salvar') ?>
                </button>
            </footer>
        </section>
    </form>
</div>