<?php
$this->headTitle()->append('Cadastro de Perfil');
?>
<?= $this->pageTitle($this->translate('Cadastro de Perfil'), $this->translate('// Aqui você pode cadastrar e editar o nome e descrição do perfil.')) ?>

<div class="container-fluid">
    <section class="card">
        <div class="card-block">
            <div class="row">
                <div class="col-md-12">
                    <form method="post"
                          action="<?= $this->url($this->perfil->getId() ? 'app/manage/profiles/edit' : 'app/manage/profiles/register', array('idPerfil' => $this->perfil->getId())) ?>"
                          class="form-horizontal">
                        <input type="hidden" name="Id" value="<?= $this->perfil->getId() ?>"/>
                        <fieldset class="form-group">
                            <label class="form-label"><?= $this->translate('Nome') ?></label>
                            <input name="nome"
                                   value="<?= $this->perfil->getNome() ?>"
                                   type="text"
                                   class="form-control"
                                   data-validation="[NOTEMPTY]"
                                   data-validation-label="O campo <strong>Nome</strong>">
                        </fieldset>
                        <fieldset class="form-group">
                            <label class="form-label"><?= $this->translate('Descrição') ?></label>
                            <textarea name="descricao" class="form-control" data-validation="[NOTEMPTY]"
                                      data-validation-label="O campo <strong>Descrição</strong>"><?= $this->perfil->getDescricao() ?></textarea>
                        </fieldset>
                        <button type="submit" class="btn btn-primary">
                            <?= $this->translate($this->perfil->getId() ? 'Salvar' : 'Cadastrar') ?>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
