<?= $this->doctype(); ?>
<html lang="<?= $this->locale ?>">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
        <meta name="viewport" content="width=device-width, initial-scale=1"/>
        <base href="<?= $this->basePath() ?>" />
        <?= $this->headTitle()->prepend(APPLICATION_NAME)->setSeparator(' - ')->setAutoEscape(true) ?>

        <?= $this->headMeta() ?>

        <?=
            $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath('/favicon.ico')))
            ->prependStylesheet($this->basePath('/css/coaching-program.css'))
            ->prependStylesheet($this->basePath('/components/bootstrap/css/bootstrap-theme.min.css'))
            ->prependStylesheet($this->basePath('/components/bootstrap/css/bootstrap.min.css'))
        ?>

        <?=
            $this->headScript()
            ->prependFile($this->basePath('/js/coaching-program.js'))
            ->prependFile($this->basePath('/components/bootstrap/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/components/jquery/jquery.min.js'))
            ->prependFile($this->basePath('/js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('/js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ?>

    </head>
    <body>

        <?php echo $this->content; ?>

        <?= $this->inlineScript() ?>

    </body>
</html>