<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta http-equiv="Cache-Control" content="no-cache, no-store, must-revalidate"/>
    <meta http-equiv="Pragma" content="no-cache"/>
    <meta http-equiv="Expires" content="0"/>

    <title>SIM</title>

    <link href="<?= $this->basePath('img/favicon.png') ?>" rel="icon" type="image/png">
    <!--Core JS-->
    <script src="<?= $this->basePath('js/lib/jquery/jquery.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/tether/tether.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/bootstrap/bootstrap.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/plugins.js') ?>"></script>
    <!--Data Tables-->
    <script src="<?= $this->basePath('js/lib/bootstrap-table/bootstrap-table.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/bootstrap-table/bootstrap-table-export.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/bootstrap-table/tableExport.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/bootstrap-table/bootstrap-table-filter-control.min.js') ?>"></script>
    <script src="<?= $this->basePath('js/lib/bootstrap-table/bootstrap-table-pt-BR.js') ?>"></script>
    <!--Datetime Moment-->
    <script src="<?= $this->basePath('js/lib/moment/moment-with-locales.min.js') ?>"></script>
    <script>moment.locale('pt-BR');</script>
    <!--Form Validation-->
    <script src="<?= $this->basePath('js/lib/html5-form-validation/jquery.validation.js') ?>"></script>


    <script src="<?= $this->basePath('js/lib/select2/select2.full.min.js') ?>"></script>

    <!--Initialization-->
    <script src="<?= $this->basePath('js/app.js') ?>"></script>
    <!--Head Scripts para cada página-->
    <?= $this->headScript() ?>
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <!--Core CSS-->
    <link rel="stylesheet" href="<?= $this->basePath('css/lib/bootstrap-table/bootstrap-table.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->basePath('css/lib/font-awesome/font-awesome.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->basePath('css/lib/bootstrap/bootstrap.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->basePath('css/select2.min.css') ?>">
    <link rel="stylesheet" href="<?= $this->basePath('css/main.css') ?>">
</head>
<body class="with-side-menu theme-picton-blue">
<header class="site-header">
    <div class="container-fluid">
        <a href="<?= $this->url('app') ?>" class="site-logo">
            <img class="hidden-md-down" src="<?= $this->basepath('images/logo-2.png') ?>" alt="">
            <img class="hidden-lg-up" src="<?= $this->basepath('images/logo-2-mob.png') ?>" alt="">
        </a>
        <button id="show-hide-sidebar-toggle" class="show-hide-sidebar">
            <span>toggle menu</span>
        </button>
        <button class="hamburger hamburger--htla">
            <span>toggle menu</span>
        </button>
        <div class="site-header-content">
            <div class="site-header-content-in">
                <div class="site-header-shown">
                    <div class="dropdown user-menu">
                        <button class="dropdown-toggle" id="dd-user-menu" type="button" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                            <strong>Andra</strong>
                        </button>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dd-user-menu">
                            <a class="dropdown-item" href="#">
                                <span class="font-icon fa fa-briefcase"></span> <?= $this->translate('Dados da Conta') ?>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<?= $this->url('app/user') ?>">
                                <span class="font-icon fa fa-user"></span> <?= $this->translate('Dados pessoais') ?>
                            </a>
                            <a class="dropdown-item" href="<?= $this->url('app/user/change-password') ?>">
                                <span class="font-icon fa fa-key"></span> <?= $this->translate('Alterar Senha') ?>
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="<?= $this->url('app/user/logout') ?>"><span
                                        class="font-icon glyphicon glyphicon-log-out"></span><?= $this->translate('Sair') ?>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
<div class="mobile-menu-left-overlay"></div>
<nav class="side-menu">
    <ul class="side-menu-list">
        <?=
        $this->navigation('navigation')
            ->setAcl($this->acl)
            ->setRole($this->aclRole)
            ->menu()
            ->setPartial('layout/menu-partial')
        ?>
    </ul>
</nav>
<div class="page-content">
    <?= $this->content ?>
</div>
</body>
</html>