<?= $this->doctype(); ?>
<html lang="<?= $this->locale ?>">
<head>
    <meta charset="utf-8"/>
    <base href="<?= $this->basePath() ?>"/>
    <?= $this->headTitle()->prepend(APPLICATION_NAME)->setSeparator(' - ')->setAutoEscape(true) ?>

    <?=
    $this->headMeta()
        ->appendName('viewport', 'width=device-width, initial-scale=1.0')
        ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
    ?>

    <link href="<?= $this->basePath('css/datatableExtend/dataTables.colVis.css') ?>" rel="stylesheet">
    <link href="<?= $this->basePath('css/datatableExtend/dataTables.colvis.jqueryui.css') ?>" rel="stylesheet">
    <link href="<?= $this->basePath('css/datatableExtend/dataTables.colVis.min.css') ?>" rel="stylesheet">

    <!-- Styles -->
    <?=
    $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
        ->prependStylesheet($this->basePath('/layout/css/custom.css'))
        ->prependStylesheet($this->basePath('css/datatableExtend/buttons.bootstrap.min.css'))
        ->prependStylesheet($this->basePath('/components/DataTables/media/css/dataTables.bootstrap.css'))
        ->prependStylesheet($this->basePath('/layout/css/xenon-skins.css'))
        ->prependStylesheet($this->basePath('/layout/css/xenon-components.css'))
        ->prependStylesheet($this->basePath('/layout/css/xenon-forms.css'))
        ->prependStylesheet($this->basePath('/layout/css/xenon-core.css'))
        ->prependStylesheet("https://fonts.googleapis.com/css?family=Montserrat:300,400,700")
        ->prependStylesheet($this->basePath('/components/animate/animate.css'))
        ->prependStylesheet($this->basePath('/layout/css/bootstrap-custom.css'))
        ->prependStylesheet($this->basePath('/components/font-awesome/css/font-awesome.css'))
    ?>

    <!-- Scripts -->
    <?=
    $this->headScript()
        ->prependFile($this->basePath('js/datatableExtend/dataTables.buttons.min.js'))
        ->prependFile($this->basePath('js/datatableExtend/jszip.min.js'))
        ->prependFile($this->basePath('js/datatableExtend/buttons.html5.min.js'))
        ->prependFile($this->basePath('/components/yadcf/jquery.dataTables.yadcf.js'))
        ->prependFile($this->basePath('/components/DataTables/media/js/dataTables.bootstrap.min.js'))
        ->prependFile($this->basePath('/components/DataTables/media/js/jquery.dataTables.min.js'))
        ->prependFile($this->basePath('/layout/js/xenon-custom.js'))
        ->prependFile($this->basePath('/layout/js/xenon-toggles.js'))
        ->prependFile($this->basePath('/layout/js/xenon-api.js'))
        ->prependFile($this->basePath('/layout/js/joinable.js'))
        ->prependFile($this->basePath('/layout/js/resizeable.js'))
        ->prependFile($this->basePath('/layout/js/TweenMax.min.js'))
        ->prependFile($this->basePath('/components/WOW/dist/wow.min.js'))
        ->prependFile($this->basePath('/layout/js/bootstrap.min.js'))
        ->prependFile($this->basePath('/components/jquery/jquery.min.js'))
        ->prependFile($this->basePath('/js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ->prependFile($this->basePath('/js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
    ?>

</head>
<body class="page-body <?= $this->bodyClass ?>">
<div class="page-container">

    <div class="sidebar-menu toggle-others fixed collapsed">
        <div class="sidebar-menu-inner">
            <header class="logo-env">
                <!-- logo -->
                <div class="logo">
                    <a href="" class="logo-expanded">
                        <img src="<?= $this->basePath('images/logos/logo.png') ?>" width="250" alt=""/>
                    </a>

                    <a href="" class="logo-collapsed">
                        <img src="<?= $this->basePath('images/logos/logo-colapse.png') ?>" width="40" alt=""/>
                    </a>
                </div>
                <!-- This will toggle the mobile menu and will be visible only on mobile devices -->
                <div class="mobile-menu-toggle visible-xs">
                    <a href="#" data-toggle="mobile-menu">
                        <i class="fa-bars"></i>
                    </a>
                </div>
            </header>
            <ul id="main-menu" class="main-menu">
                <?=
                $this->navigation('navigation')
                    ->setAcl($this->acl)
                    ->setRole($this->aclRole)
                    ->menu()
                    ->setPartial('layout/menu-partial')
                ?>
            </ul>
        </div>
    </div>

    <div class="main-content">
        <nav class="navbar user-info-navbar" role="navigation">

            <ul class="user-info-menu left-links list-inline list-unstyled">
                <li class="hidden-sm hidden-xs" style="min-height: 72px;">
                    <a href="#" data-toggle="sidebar">
                        <i class="fa-bars"></i>
                    </a>
                </li>
            </ul>

            <!-- Right links for user info navbar -->
            <ul class="user-info-menu right-links list-inline list-unstyled">

                <li class="dropdown user-profile">
                    <?= $this->UserHeader() ?>

                    <ul class="dropdown-menu user-profile-menu list-unstyled">
                        <li>
                            <a href="<?= $this->url('app/user') ?>">
                                <span class="fa fa-user"></span> <?= $this->translate('Dados pessoais') ?>
                            </a>
                        </li>
                        <li>
                            <a href="<?= $this->url('app/user/change-password') ?>">
                                <span class="fa fa-lock"></span> <?= $this->translate('Alterar senha') ?>
                            </a>
                        </li>
                        <li>
                            <a href="<?= $this->url('app/user/logout') ?>">
                                <span class="fa fa-power-off"></span> <?= $this->translate('Sair') ?>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>

        <?= $this->content ?>

        <!-- Main Footer -->
        <!-- Choose between footer styles: "footer-type-1" or "footer-type-2" -->
        <!-- Add class "sticky" to  always stick the footer to the end of page (if page contents is small) -->
        <!-- Or class "fixed" to  always fix the footer to the end of page -->
        <footer class="main-footer footer-type-1 sticky">
            <div class="footer-inner">
                <!-- Add your copyright text here -->
                <div class="footer-text">
                    <div class="pull-left">
                        <p><?= APPLICATION_NAME ?> &copy; <?= $this->translate('Todos os direitos reservados') ?>.</p>
                    </div>

                </div>
                <!-- Go to Top Link, just add rel="go-top" to any link to add this functionality -->
                <div class="go-up">
                    <a href="#" rel="go-top">
                        <i class="fa-angle-up"></i>
                    </a>
                </div>
            </div>
        </footer>
    </div>

    <div id="obs" class="fixed hidden">
        <div style="position:fixed;" class="main-content">
        </div>
    </div>

</div>
<?= $this->inlineScript() ?>

</body>
</html>
