<?= $this->doctype(); ?>
<html lang="<?= $this->locale ?>">
    <head>
        <meta charset="utf-8"/>
        <base href="<?= $this->basePath() ?>" />
        <?= $this->headTitle()->prepend(APPLICATION_NAME)->setSeparator(' - ')->setAutoEscape(true) ?>

        <?=
            $this->headMeta()
            ->appendName('viewport', 'width=device-width, initial-scale=1.0')
            ->appendHttpEquiv('X-UA-Compatible', 'IE=edge')
        ?>

        <!-- Styles -->
        <?=
            $this->headLink(array('rel' => 'shortcut icon', 'type' => 'image/vnd.microsoft.icon', 'href' => $this->basePath() . '/favicon.ico'))
            ->prependStylesheet($this->basePath('/layout/css/custom.css'))
            ->prependStylesheet($this->basePath('/layout/css/xenon-skins.css'))
            ->prependStylesheet($this->basePath('/layout/css/xenon-components.css'))
            ->prependStylesheet($this->basePath('/layout/css/xenon-forms.css'))
            ->prependStylesheet($this->basePath('/layout/css/xenon-core.css'))
            ->prependStylesheet("https://fonts.googleapis.com/css?family=Montserrat:300,400,700")
            ->prependStylesheet($this->basePath('/components/animate/animate.css'))
            ->prependStylesheet($this->basePath('/layout/css/bootstrap-custom.css'))
            ->prependStylesheet($this->basePath('/components/font-awesome/css/font-awesome.css'))
        ?>

        <!-- Scripts -->
        <?=
            $this->headScript()
            ->prependFile($this->basePath('/layout/js/xenon-custom.js'))
            ->prependFile($this->basePath('/layout/js/xenon-toggles.js'))
            ->prependFile($this->basePath('/layout/js/xenon-api.js'))
            ->prependFile($this->basePath('/layout/js/joinable.js'))
            ->prependFile($this->basePath('/layout/js/resizeable.js'))
            ->prependFile($this->basePath('/layout/js/TweenMax.min.js'))
            ->prependFile($this->basePath('/components/WOW/dist/wow.min.js'))
            ->prependFile($this->basePath('/layout/js/bootstrap.min.js'))
            ->prependFile($this->basePath('/components/jquery/jquery.min.js'))
            ->prependFile($this->basePath('/js/respond.min.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
            ->prependFile($this->basePath('/js/html5shiv.js'), 'text/javascript', array('conditional' => 'lt IE 9',))
        ?>
        <script type="text/javascript">
            $(document).ready(function ($)
            {
                // Reveal Login form
                setTimeout(function () {
                    $(".fade-in-effect").addClass('in');
                }, 1);

                // Set Form focus
                $("form#login .form-group:has(.form-control):first .form-control").focus();
            });
        </script>
    </head>
    <body class="page-body login-page">
        <div class="login-container">
            <?php echo $this->content; ?>
        </div>
        <?= $this->inlineScript() ?>
    </body>
</html>