<li>
    <a href="<?= $this->url('app') ?>">
        <i class="fa fa-tachometer"></i>
        <span class="lbl">Dashboard</span>
    </a>
</li>
<?php foreach ($this->container as $page) { ?>
    <?php if (!$page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
    <?php if (!$page->hasPages()) { ?>
        <li class="<?= $page->get('color') ?> <?php if ($page->isActive()) { ?>opened<?php } ?>">
            <a href="<?php echo $page->getHref() ?>">
                <i class="<?= $page->get('icon') ?>"></i>
                <span class="lbl"><?php echo $this->translate($page->getLabel()) ?></span>
            </a>
        </li>
    <?php } else { ?>
        <li class="<?= $page->get('color') ?> with-sub <?php if ($page->isActive()) { ?>opened<?php } ?>">
             <span>
	                <span class="<?= $page->get('icon') ?>"></span>
	                <span class="lbl"><?= $this->translate($page->getLabel()) ?></span>
             </span>
            <ul>
                <?= $this->partial('layout/sub-menu-partial', array('container' => $page->getPages())) ?>
            </ul>
        </li>
    <?php } ?>
<?php } ?>