<?php foreach ($this->container as $page) { ?>
    <?php if (!$page->isVisible() || !$this->navigation()->accept($page)) continue; ?>
    <?php if (!$page->hasPages()) { ?>
        <li class="<?= $page->get('color') ?> <?php if ($page->isActive()) { ?>opened<?php } ?>">
            <a href="<?= $page->getHref() ?>">
                <span class="lbl">
                    <?= $this->translate($page->getLabel()) ?>
                </span>
            </a>
        </li>
    <?php } else { ?>
        <li class="<?= $page->get('color') ?> with-sub <?php if ($page->isActive()) { ?>opened<?php } ?>">
             <span>
	                <span class="<?= $page->get('icon') ?>"></span>
	                <span class="lbl"><?= $this->translate($page->getLabel()) ?></span>
	            </span>
            <ul>
                <?= $this->partial('layout/sub-menu-partial', array('container' => $page->getPages())) ?>
            </ul>
        </li>
    <?php } ?>
<?php } ?>