/* ==========================================================================
   Variables
   ========================================================================== */

// Colors
@color-text: #343434;
@color-link: #1b9dff;
@color-placeholder: #8e9fa7;
@color-white: #ffffff;

@color-bg-white: #ffffff;
@color-bg-green: #4cc159;
@color-bg-purple: #00bbd4;
@color-bg-yellow: #fdc006;
@color-bg-red: #f34135;
@color-bg-blue: #1b9dff;
@color-bg-black: #343434;
@color-bg-black-blue: #323a44;
@color-bg-page: #eceff4;
@color-bg-grey: #ecf2f5;
@color-bg-grey-light: #f6f8fa;
@color-bg-grey-super-light: #fbfcfd;
@color-bg-grey-new: #c3cbd2;
@color-border: #c5d6de;
@color-border-light: #d8e2e7;
@color-secondary: #6b7a85;
@color-grey: #adb7be;
@color-grey-blue: #9fc4e2;
@color-grey-txt: #818181;
@color-grey-blue-txt: #6c7a86;
@color-grey-blue-lighter-txt: #919fa9;
@color-wet-asphalt: #304b58;
@color-bg-dark: #2c3949;
@color-ultramarine: #1a5bc3;
@color-blue-darker: #1280d0;
@color-blue-dirty: #1b99cf;
@color-blue-dirty-2: #2797ca;
@color-blue: #00a8ff;
@color-blue-sky: #23b9e2;
@color-aquamarine: #21a788;
@color-green: #46c35f;
@color-lime: #afed3e;
@color-yellow: #fed832;
@color-orange: #fdad2a;
@color-gold: #f29824;
@color-brown: #cd6724;
@color-orange-darker: #ff7721;
@color-orange-red: #ff561c;
@color-coral: #fe664c;
@color-red: #fa424a;
@color-red-lighter: #f95858;
@color-pink-red: #f5465e;
@color-pink: #e84f9a;
@color-magenta: #b348ae;
@color-purple: #ac6bec;
@color-disable-bg: #dbe4ea;
@color-hover-bg: #16b4fc;
@color-active-bg: #00a1f3;

@color-ebony-clay: #263238;
@color-caribbean: #00c3aa;
@color-madison: #263543;
@color-caesium-dark: #2a2b3b;
@color-tin: #424242;
@color-litmus: #282c38;
@color-rebecca-purple: #3e4eb2;
@color-picton-blue: #1b9dff;

@color-grey-btn-bg: #dbe4ea;

@color-bg-light-green: #edf9ee;
@color-bg-light-blue: #e4f6fe;
@color-bg-light-orange: #fdf4e6;
@color-bg-light-red: #feecec;
@color-bg-light-purple: #eee2fc;
@color-bg-light-aquamarine: #d1f0eb;

@color-gp: #d33928;
@color-tw: #00aaed;
@color-fb: #37559a;
@color-in: #007ab4;
@color-inst: #105881;
@color-ok: #fa8121;
@color-vk: #456fa0;

// Fonts
@font-text: 'Proxima Nova', sans-serif;
@font-addl: 'Roboto', sans-serif;

// Pathes
@path-images: "/images";
@relative-path-images: "../images";

// Responsive width
@xxl-min-width: 1500px;
@xxl-max-width: 1499px;

@lg-min-width: 1200px;
@lg-max-width: 1199px;

@md-min-width: 1055px;
@md-max-width: 1056px;

@sm-min-width: 768px;
@sm-max-width: 767px;

