<?php
$this->headTitle()->append('Acesso Negado');
?>

<div class="text-center">
    <h1><?= $this->translate('Acesso Negado') ?></h1>

    <img src="<?= $this->basePath('/images/access-denied.png') ?>">

    <br/>

    <p><strong><?= $this->translate('Você não tem permissão para acessar este conteúdo.') ?></strong></p>
    <p><?= $this->translate('Caso o acesso seja realmente necessário solicite o desbloqueio ao administrador do sistema.') ?></p>
</div>