<?php
$this->layout('layout/login');
$this->headTitle()->append('Efetuar Login');

$this->headLink();

$this->headScript();
?>

<div class="row">
    <div class="col-sm-6">
        <!-- Errors container -->
        <div class="errors-container">
            <?= $this->Messages() ?>
        </div>
        <!-- Add class "fade-in-effect" for login form effect -->
        <form id="frmAuthenticate" action="<?= $this->url('app/user/authenticate') ?>" method="post" enctype="application/x-www-form-urlencoded" class="login-form fade-in-effect">
            <input type="hidden" name="redirect" value="<?= $this->redirect ?>" />
            <div class="login-header">
                <a href="#" class="logo">
                    <img src="<?= $this->basePath('/images/logos/logo.png') ?>" alt="" width="80" />
                    <span><?= $this->translate('Efetuar Login') ?></span>
                </a>
            </div>
            <div class="form-group">
                <input type="email" name="username" value="<?= $this->username ?>" class="form-control input-dark" placeholder="<?= $this->translate('E-mail') ?>" required autofocus autocomplete="off"/>
            </div>

            <div class="form-group">
                <input type="password" name="credencial" class="form-control input-dark" placeholder="<?= $this->translate('Senha') ?>" required/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block text-left">
                    <i class="fa-lock"></i>
                    Log In
                </button>
            </div>

            <div class="login-footer">
                <a href="<?= $this->url('app/user/forgot-password') ?>"><?= $this->translate('Esqueci minha senha') ?></a>
            </div>
        </form>
    </div>
</div>

<?php /* ?>
  <div class="text-center">
  <div class="btn-group btn-group-xs">
  <a href="<?= $this->url('app/user/authenticate', array('locale' => 'pt-BR')) ?>" class="btn btn-default" title="Português">
  <img src="<?= $this->basePath('/images/flags/pt-BR.png') ?>" width="16" /> Português
  </a>
  <a href="<?= $this->url('app/user/authenticate', array('locale' => 'en-US')) ?>" class="btn btn-default" title="English">
  <img src="<?= $this->basePath('/images/flags/en-US.png') ?>" width="16" />  English
  </a>
  <a href="<?= $this->url('app/user/authenticate', array('locale' => 'es-ES')) ?>" class="btn btn-default" title="Español">
  <img src="<?= $this->basePath('/images/flags/es-ES.png') ?>" width="16" />  Español
  </a>
  <a href="<?= $this->url('app/user/authenticate', array('locale' => 'fr-FR')) ?>" class="btn btn-default" title="Français">
  <img src="<?= $this->basePath('/images/flags/fr-FR.png') ?>" width="16" />  Français
  </a>
  </div>
  </div>
  <?php */ ?>

