<?php
$this->headTitle('Alterar senha');

$this->headLink()
    ->appendStylesheet($this->basePath('/components/bootstrapvalidator/dist/css/bootstrapValidator.min.css'));

$this->headScript()
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/bootstrapValidator.min.js'))
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/language/' . preg_replace('/-/', '_', $this->layout()->locale) . '.js'))
    ->appendFile($this->basePath('/js/user/change-password.js'));

if ($this->errors) {
    $this->InputFilterToBootstrapValidator('#formChangePassword', $this->errors);
}
?>

<?= $this->pageTitle($this->translate('Alterar Senha'), $this->translate('Aqui você pode alterar sua senha por uma nova')) ?>


<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <?= $this->translate('Senha') ?>
            </div>
            <div class="panel-body">
                <form id="formChangePassword" method="post" action="<?= $this->url('app/user/change-password') ?>" role="form"  class="form-horizontal">
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <?= $this->translate('Informe a senha atual') ?>
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="currentCredential" name="currentCredential" maxlength="12" class="form-control input-md" required/>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <?= $this->translate('Informe a nova senha') ?>
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="newCredential" name="newCredential" maxlength="12" class="form-control input-md" required/>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label">
                            <?= $this->translate('Confirme a nova senha') ?>
                        </label>
                        <div class="col-sm-10">
                            <input type="password" id="newCredentialConfirm" name="newCredentialConfirm" maxlength="12" class="form-control input-md" required/>
                            <span class="help-block"><?= $this->translate('Permitido senha entre 6 e 12 caracteres alfanuméricos') ?></span>
                        </div>
                    </div>
                    <div class="form-group-separator"></div>
                    <div class="form-group">
                        <div class="col-sm-12">                        
                            <button type="submit" class="btn btn-primary btn-single pull-right"><?= $this->translate('Alterar') ?></button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>



