<?php
$this->layout('layout/clean');
$this->headTitle()->append('Definir senha');

$this->headLink()
    ->appendStylesheet($this->basePath('/components/bootstrapvalidator/dist/css/bootstrapValidator.min.css'))
    ->appendStylesheet($this->basePath('/css/coaching-program.css'));

$this->headScript()
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/bootstrapValidator.min.js'))
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/language/' . preg_replace('/-/', '_', $this->layout()->locale) . '.js'))
    ->appendFile($this->basePath('/js/user/create-password.js'));

if ($this->errors) {
    $this->InputFilterToBootstrapValidator('#formCreatePassword', $this->errors);
}
?>

<div class="login-wrapper">
    <div class="logo">
        <img src="<?= $this->basePath('/images/logo_coaching_program.jpg') ?>" title="<?= APPLICATION_NAME ?>" width="285" height="120"/>
    </div>

    <div class="well">
        <h1><?= $this->translate('Definir senha') ?></h1>
        <p><?= $this->translate('Preencha os campos abaixo para definir sua senha de acesso') ?>.</p>
        <br/>
        <?= $this->Messages() ?>

        <div class="form">
            <form id="formCreatePassword" method="post" action="<?= $this->url('app/user/create-password', array('token' => $this->token)) ?>" role="form">
                <div class="form-group">
                    <label for="username" class="control-label"><?= $this->translate('E-mail') ?></label>
                    <input type="email" id="username" name="username" maxlength="160" class="form-control" required autofocus autocomplete="off"/>
                </div>

                <div class="form-group">
                    <label for="credential" class="control-label"><?= $this->translate('Informe a senha') ?></label>
                    <input type="password" id="credential" name="credential" maxlength="12" class="form-control" required/>
                </div>

                <div class="form-group">
                    <label for="credentialConfirm" class="control-label"><?= $this->translate('Confirme a senha') ?></label>
                    <input type="password" id="credentialConfirm" name="credentialConfirm" maxlength="12" class="form-control" required/>
                    <span class="help-block"><?= $this->translate('Permitido senha entre 6 e 12 caracteres alfanuméricos') ?></span>
                </div>

                <div class="buttons">
                    <button type="submit" name="send" class="btn btn-primary pull-right"><?= $this->translate('Definir') ?></button>
                    <div class="clearfix"></div>
                </div>
            </form>

        </div>
    </div>
</div>