<?php
$this->layout('layout/login');
$this->headTitle()->append('Esqueci minha senha');
?>

<div class="row">
    <div class="col-sm-6">
        <!-- Errors container -->
        <div class="errors-container">
            <?= $this->Messages() ?>
        </div>

        <!-- Add class "fade-in-effect" for login form effect -->
        <form action="<?= $this->url('app/user/forgot-password') ?>" method="post" class="login-form fade-in-effect">
            <input type="hidden" name="redirect" value="<?= $this->redirect ?>" />
            <div class="login-header">
                <a href="#" class="logo">
                    <img src="<?= $this->basePath('/images/logos/logo.png') ?>" alt="" width="80" />
                    <span><?= $this->translate('Esqueci minha senha') ?></span>
                </a>
                <p><?= $this->translate('Por favor, insira seu e-mail no campo abaixo para que possamos lhe enviar uma nova senha') ?>.</p>
            </div>


            <div class="form-group">
                <input type="email" name="username" value="<?= $this->username ?>" class="form-control input-dark" placeholder="<?= $this->translate('E-mail') ?>" required autofocus autocomplete="off"/>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block text-left">
                    <i class="fa fa-refresh"></i>
                    <?= $this->translate('Recuperar') ?>
                </button>
            </div>

            <div class="login-footer">
                <a href="<?= $this->url('app/user/authenticate') ?>"><?= $this->translate('Cancelar') ?></a>
            </div>
        </form>
    </div>
</div>