<?php
$this->layout('layout/login');
$this->headTitle()->append('Redefinir senha');

$this->headLink()
    ->appendStylesheet($this->basePath('/components/bootstrapvalidator/dist/css/bootstrapValidator.min.css'));

$this->headScript()
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/bootstrapValidator.min.js'))
    ->appendFile($this->basePath('/components/bootstrapvalidator/dist/js/language/' . preg_replace('/-/', '_', $this->layout()->locale) . '.js'))
    ->appendFile($this->basePath('/js/user/reset-password.js'));

if ($this->errors) {
    $this->InputFilterToBootstrapValidator('#formResetPassword', $this->errors);
}
?>

<div class="row">
    <div class="col-sm-6">
        <!-- Errors container -->
        <div class="errors-container">
            <?= $this->Messages() ?>
        </div>

        <form class="login-form fade-in-effect" id="formResetPassword" method="post" action="<?= $this->url('app/user/reset-password', array('token' => $this->token)) ?>" role="form">

            <div class="login-header">
                <a href="#" class="logo">
                    <img src="<?= $this->basePath('/images/logos/logo.png') ?>" alt="" width="80" />
                    <span><?= $this->translate('Redefinir Senha') ?></span>
                </a>
                <p><?= $this->translate('Por favor, insira seu e-mail abaixo e confirme uma nova senha') ?>.</p>
            </div>

            <div class="form-group">
                <input placeholder="<?= $this->translate('E-mail') ?>" class="form-control input-dark" type="email" id="username" name="username" maxlength="160" class="form-control" required autofocus/>
            </div>

            <div class="form-group">
                <input placeholder="<?= $this->translate('Informe a nova senha') ?>" class="form-control input-dark" type="password" id="newCredential" name="newCredential" maxlength="12" class="form-control" required/>
            </div>

            <div class="form-group">
                <input placeholder="<?= $this->translate('Confirme a nova senha') ?>" class="form-control input-dark" type="password" id="newCredentialConfirm" name="newCredentialConfirm" maxlength="12" class="form-control" required/>
                <span class="help-block"><?= $this->translate('Permitido senha entre 6 e 12 caracteres alfanuméricos') ?></span>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-dark btn-block text-left">
                    <i class="fa fa-refresh"></i>
                    <?= $this->translate('Refefinir') ?>
                </button>
            </div>
        </form>
    </div>
</div>