<script>
    //Dados que vem da view
    var data = <?=json_encode($this->data)?>;

    //Declaração do objeto de ações
    var actions = new Object;

    $(document).ready(function () {

        //Formatter de data
        function datetimeFormatter(data, rowData, index) {
            var a = moment(data);
            return a.format('L');
        }

        //Criação do Objeto com as ações caso exista
        <?php if($this->actions){?>
        <?php foreach($this->data as $key=>$data){?>
        actions[<?=$key?>] = '<div class="dropdown dropdown-status">' +
            '<button class="btn btn-primary dropdown-toggle dropdown-action" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Ações</button>' +
            '<div class="dropdown-menu dropdown-action">' +
            <?php foreach ($this->actions as $action){ ?>
            <?php if ($this->isAllowed($action['route'])) { ?>
            '<a class="dropdown-item" href="<?=$this->url($action['route'], array($action['routeParam'] => $this->data[$key][$action['identifierData']]))?>"><?=$action['label']?></a>' +
            <?php }?>
            <?php }?>
            '</div>' +
            '</div>';
        <?php }?>
        <?php }?>

        //Entidade da Tabela, use isso para eventos
        var $table = $('#<?= $this->tableId ?>');

        //Instancia do bootstrapTable
        $table.bootstrapTable({
            iconsPrefix: 'font-icon',
            locale: 'pt-BR',
            exportTypes: ['excel', 'csv'],
            exportOptions: {
                ignoreColumn: [<?=(count($this->columnConfig))?>]
            },
            icons: {
                paginationSwitchDown: 'fa fa-chevron-circle-down',
                paginationSwitchUp: 'fa fa-chevron-circle-up',
                toggle: 'font-icon-list-square',
                columns: 'font-icon-list-rotate',
                export: 'fa fa-download',
                detailOpen: 'fa fa-plus',
                detailClose: 'fa fa-times'
            },
            paginationPreText: '<i class="font-icon fa fa-chevron-left"></i>',
            paginationNextText: '<i class="font-icon fa fa-chevron-right"></i>',
            data: data,
            columns: [
                <?php foreach($this->columnConfig as $columnConfig){ ?>
                {
                    field: '<?=$columnConfig['columnData']?>',
                    title: '<?=$columnConfig['columnName']?>',
                    align: 'center',
                    valign: 'middle',
                    sortable: true,
                    <?php if(key_exists('columnFormatter', $columnConfig)){?>
                    formatter: <?=$columnConfig['columnFormatter']?>
                    <?php }?>
                },
                <?php }?>
                <?php if($this->actions){?>
                {
                    valign: 'middle',
                    align: 'center',
                    formatter: function (data, rowData, index) {
                        return actions[index];
                    }
                }
                <?php }?>
            ]
        });


    });
</script>


<section class="box-typical">
    <div id="toolbar">
        <?php if ($this->register) { ?>
            <?php if ($this->isAllowed($this->register['route'])) { ?>
                <a href="<?= $this->url($this->register['route']) ?>" id="remove" class="btn btn-primary">
                    <i class="font-icon fa fa-plus"></i> <?= $this->register['label'] ?>
                </a>
            <?php }
        } ?>
    </div>
    <div class="table-responsive">
        <table id="<?= $this->tableId ?>"
               class="table table-striped"
               data-toolbar="#toolbar"
               data-search="true"
               data-show-export="true"
               data-minimum-count-columns="2"
               data-show-pagination-switch="true"
               data-pagination="true"
               data-id-field="id"
               data-show-footer="false">
        </table>
    </div>
</section>
