<?php if ($this->messages->count()) { ?>
    <?php foreach ($this->messages as $style => $messages) { ?>
        <div class="alert <?= $style ?> alert-fill alert-close alert-dismissible fade in" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
            <?php foreach ($messages as $message) { ?>
                <?= $message ?>
            <?php } ?>
        </div>
    <?php } ?>
<?php } ?>