<?php $container = $this->navigation('navigation')->findOneByRoute($this->route); ?>

<div class="page-header">
    <h3 class="pull-left">
        <?=
            $this->navigation('navigation')
            ->breadcrumbs()
            ->setMinDepth(0)
            ->render()
        ?></h3>
    <div class="clearfix"></div>
</div>

<?=
    $this->navigation('navigation')
    ->setAcl($this->layout()->acl)
    ->setRole($this->layout()->aclRole)
    ->menu()
    ->renderMenu($container)
?>