<a href="#" class="dropdown-toggle" data-toggle="dropdown">
    <img src="<?= $this->photo ?>" alt="<?= $this->escapeHtml($this->name) ?>" class="img-circle img-inline userpic-32" width="28" />
    <span>
        <?= $this->escapeHtml($this->name) ?>
    </span>
</a>